/cuda-sdk-samples/bin/win32/Debug/*.ilk
/cuda-sdk-samples/bin/win32/Debug/*.pdb
/cuda-sdk-samples/src/matrixMul/Win32
/cuda-sdk-samples/src/matrixMul/*.pdb
/cuda-sdk-samples/src/matrixMul/*.o
/cuda-sdk-samples/src/matrixMul/*.user
/cuda-sdk-samples/src/matrixMul/*.txt
/cuda-sdk-samples/src/matrixMul/*.csv
/cuda-sdk-samples/src/simpleTemplates/Debug
/cuda-sdk-samples/src/simpleTemplates/Release
/cuda-sdk-samples/src/simpleTemplates/Win32
/cuda-sdk-samples/src/simpleTemplates/*.o
/cuda-sdk-samples/src/simpleTemplates/*.user
/cuda-sdk-samples/src/simpleTemplates/*.pdb
/cuda-sdk-samples/src/template_runtime/Debug
/cuda-sdk-samples/src/template_runtime/Win32
/cuda-sdk-samples/src/template_runtime/ipch
/cuda-sdk-samples/src/template_runtime/Release
/cuda-sdk-samples/src/template_runtime/*.o
/cuda-sdk-samples/src/template_runtime/*.user
/cuda-sdk-samples/src/template_runtime/*.pdb
/cuda-sdk-samples/src/template_runtime/*.sdf
/cuda-sdk-samples/src/template_runtime/*.opensdf
/cuda-sdk-samples/src/*.suo
/cuda-sdk-samples/bin/win32/Debug/*.exe
/cuda-sdk-samples/bin/win32/Debug/*.exe
